body {
  background: #ebc5c5;
}

.container {
  width: 100%;
  padding: 2% 3%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h1 {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.acc:hover i.acc-item__icon {
  opacity: 1;
  color: black;
  transition: all 0.5s ease;
}

.acc-item {
  padding-bottom: 1rem;
  color: blue;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
}

.acc-item__label {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid rgba(163, 159, 159, 0.5);
  transition: all 0.5s ease;
}

.acc-item__text {
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.5s ease;
  margin-bottom: 1rem;
}

i.acc-item__icon {
  opacity: 0;
  transition: all 0.5s ease;
  color: blue;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.acc-item__img {
  height: 0rem;
  transform: scale(0);
  transition: all 0.5s ease;
}

.input:checked~.acc-item__label>.acc-item__text {
  color: black;
  transition: all 0.5s ease;
}

.input:checked~.img-wrapper>.acc-item__img {
  max-width: 100%;
  height: 20rem;
  transform: scale(1);
  transition: all 0.5s ease;
}

.input:checked~.acc-item__label>i.acc-item__icon {
  opacity: 1;
  transform: rotate(45deg);
  color: black;
  transition: all 0.5s ease;
}

li {
  position: relative;
}

li>input {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

@media(min-width:481px)/*tablet breakpoint */
  {

    .container {
      padding: 3% 5%;
    }
  
    .h1 {
      font-size: 5rem;
      margin-bottom: 2rem;
    }
  
    .acc-item {
      padding-bottom: 1.5rem;
    }
  
    .acc-item__text {
      font-size: 2.5rem;
    }
  
    .input:checked~.img-wrapper>.acc-item__img {
      height: 30rem;
    }
  }

@media(min-width: 1008px)/*desktop breakpoint */
  {

  .container {
    padding: 4% 20%;
  }

  .h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .acc-item {
    padding-bottom: 3rem;
  }

  .acc-item__text {
    font-size: 2rem;
  }

  .input:hover,
  .acc:hover .acc-item__text {
    color: black;
    transition: all 0.5s ease;
  }

  .input:checked~.img-wrapper>.acc-item__img {
    height: 35rem;
  }

  .input:hover~.img-wrapper>.acc-item__img {
    transform: scale(1);
    max-width: 100%;
    height: 35rem;
    transition: all 0.5s ease;
  }

  .acc-item:hover>.acc-item__label>i.acc-item__icon {
    opacity: 1;
    transform: rotate(45deg);
    color: black;
    transition: all 0.5s ease;
  }


}