/*reset styles*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  ul {
    padding: 0;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  button p {
    margin: 0;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
  }
/*reset styles end*/
.container{
    width: 100%;
    padding: 5rem 20rem;

    align-items: center;
}
.h1 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.acc-item{
margin-bottom: 3rem;
color: blue;
}
.acc-item__label{
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid rgb(190, 187, 187);
}
.acc-item__text {
    font-size: 2rem;
    font-weight: bold;

}
.fa-plus::before{
    display:none;
}
.img-wrapper{
    display: flex;
    justify-content: center;
}
.acc-item__img {
    height: 25rem;
    width: 25rem;
    

}
.acc-item:hover{
    color: black;
    
}